<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongoose Cars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/378eb86a3a.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <a href="/cars">ALL CARS</a> |
      <a href="/cars/new">ADD CAR</a>
    </nav>
  </body>
</html>
